/* @group testing */

.test1 {
	border: 1px solid fuchsia !important;
}

.test2 {
	border: 1px solid aqua !important;
}

.test3 {
	border: 1px solid lime !important;
}

/* @end */

/* @group shadows */

.box-shadow (@arguments: "0px 0px 1px rgba(0,0,0,0.5)") {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	behavior: url("@{url}/js/libs/pie/PIE.htc");
}
	
/* @end */

/* @group border radius */

.border-radius(@radius){
	-webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    -ms-border-radius: @radius;
    border-radius: @radius;
}

.border-radius(@tr; @br; @bl; @tl){
	-webkit-border-radius: @tr, @br, @bl, @tl;
    -moz-border-radius: @tr, @br, @bl, @tl;
    -o-border-radius: @tr, @br, @bl, @tl;
    -ms-border-radius: @tr, @br, @bl, @tl;
    border-radius: @tr, @br, @bl, @tl;
}

.transition(@property; @time; @ease;){
	-webkit-transition: @property @time @ease;
    -moz-transition: @property @time @ease;
    -o-transition: @property @time @ease;
    -ms-transition: @property @time @ease;
    transition: @property @time @ease;
}


