@charset "UTF-8";
/* CSS Document */

/* @group widescreen */
@media screen and (min-width: 1700px){
	
	/* @group grid */
	
	.row {
		width: 1680px;
	}
	
	.widescreen-hide {
		display: none !important;
	}
	
	.widescreen-display {
		display: -moz-inline-stack !important;
		display: inline-block !important;
		zoom: 1 !important;
		*display: inline !important;
	}
	
	.widescreen-display-block {
		display: block !important;
	}
	
	.widescreen-col-1 {
		width: 100 / @columns * 1% !important;
	}
	
	.widescreen-col-2 {
		width: 100 / @columns * 2% !important;
	}
	
	.widescreen-col-3 {
		width: 100 / @columns * 3% !important;
	}
	
	.widescreen-col-4 {
		width: 100 / @columns * 4% !important;
	}
	
	.widescreen-col-5 {
		width: 100 / @columns * 5% !important;
	}
	
	.widescreen-col-6 {
		width: 100 / @columns * 6% !important;
	}
	
	.widescreen-col-7 {
		width: 100 / @columns * 7% !important;
	}
	
	.widescreen-col-8 {
		width: 100 / @columns * 8% !important;
	}
	
	.widescreen-col-9 {
		width: 100 / @columns * 9% !important;
	}
	
	.widescreen-col-10 {
		width: 100 / @columns * 10% !important;
	}
	
	.widescreen-padding {
		padding: @gutter;
	}
	
	.widescreen-padding-top {
		padding-top: @gutter;
	}
	
	.widescreen-padding-right {
		padding-right: @gutter;
	}
	
	.widescreen-padding-bottom {
		padding-bottom: @gutter;
	}
	
	.widescreen-padding-left {
		padding-left: @gutter;
	}
	
	.widescreen-no-padding {
		padding: 0;
	}
	
	.widescreen-no-padding-top {
		padding-top: 0;
	}
	
	.widescreen-no-padding-right {
		padding-right: 0;
	}
	
	.widescreen-no-padding-bottom {
		padding-bottom: 0;
	}
	
	.widescreen-no-padding-left {
		padding-left: 0;
	}
	
	.widescreen-margin {
		margin: @gutter;
	}
	
	.widescreen-margin-top {
		margin-top: @gutter;
	}
	
	.widescreen-margin-right {
		margin-right: @gutter;
	}
	
	.widescreen-margin-bottom {
		margin-bottom: @gutter;
	}
	
	.widescreen-margin-left {
		margin-left: @gutter;
	}
	
	.widescreen-no-margin {
		margin: 0;
	}
	
	.widescreen-no-margin-top {
		margin-top: 0;
	}
	
	.widescreen-no-margin-right {
		margin-right: 0;
	}
	
	.widescreen-no-margin-bottom {
		margin-bottom: 0;
	}
	
	.widescreen-no-margin-left {
		margin-left: 0;
	}
	
	.widescreen-no-gutter {
		margin: @gutter * -1;
	}
	
	.widescreen-no-gutter-top {
		margin-top: @gutter * -1;
	}
	
	.widescreen-no-gutter-right {
		margin-right: @gutter * -1;
	}
	
	.widescreen-no-gutter-bottom {
		margin-bottom: @gutter * -1;
	}
	
	.widescreen-no-gutter-left {
		margin-left: @gutter * -1;
	}
	
	/* @end */
	
	/* @group body styles */
	
	body {
		font-size: 20px;
	}
	
	/* @end */
}
/* @end */




/* @group standard */
@media screen and (max-width: 1699px) and (min-width: 1301px){
	
	/* @group grid */
	
	.standard-hide {
		display: none !important;
	}
	
	.standard-display {
		display: -moz-inline-stack !important;
		display: inline-block !important;
		zoom: 1 !important;
		*display: inline !important;
	}
	
	.standard-display-block {
		display: block !important;
	}
	
	/* @end */
	
}
/* @end */




/* @group tablet */
@media screen and (max-width: 1300px) and (min-width: 761px){
	
	/* @group grid */
	
	.row {
		width: 740px;
	}
	
	.tablet-hide {
		display: none !important;
	}
	
	.tablet-display {
		display: -moz-inline-stack !important;
		display: inline-block !important;
		zoom: 1 !important;
		*display: inline !important;
	}
	
	.tablet-display-block {
		display: block !important;
	}
	
	.tablet-col-1 {
		width: 100 / @columns * 1% !important;
	}
	
	.tablet-col-2 {
		width: 100 / @columns * 2% !important;
	}
	
	.tablet-col-3 {
		width: 100 / @columns * 3% !important;
	}
	
	.tablet-col-4 {
		width: 100 / @columns * 4% !important;
	}
	
	.tablet-col-5 {
		width: 100 / @columns * 5% !important;
	}
	
	.tablet-col-6 {
		width: 100 / @columns * 6% !important;
	}
	
	.tablet-col-7 {
		width: 100 / @columns * 7% !important;
	}
	
	.tablet-col-8 {
		width: 100 / @columns * 8% !important;
	}
	
	.tablet-col-9 {
		width: 100 / @columns * 9% !important;
	}
	
	.tablet-col-10 {
		width: 100 / @columns * 10% !important;
	}
	
	.tablet-padding {
		padding: @gutter;
	}
	
	.tablet-padding-top {
		padding-top: @gutter;
	}
	
	.tablet-padding-right {
		padding-right: @gutter;
	}
	
	.tablet-padding-bottom {
		padding-bottom: @gutter;
	}
	
	.tablet-padding-left {
		padding-left: @gutter;
	}
	
	.tablet-no-padding {
		padding: 0;
	}
	
	.tablet-no-padding-top {
		padding-top: 0;
	}
	
	.tablet-no-padding-right {
		padding-right: 0;
	}
	
	.tablet-no-padding-bottom {
		padding-bottom: 0;
	}
	
	.tablet-no-padding-left {
		padding-left: 0;
	}
	
	.tablet-margin {
		margin: @gutter;
	}
	
	.tablet-margin-top {
		margin-top: @gutter;
	}
	
	.tablet-margin-right {
		margin-right: @gutter;
	}
	
	.tablet-margin-bottom {
		margin-bottom: @gutter;
	}
	
	.tablet-margin-left {
		margin-left: @gutter;
	}
	
	.tablet-no-margin {
		margin: 0;
	}
	
	.tablet-no-margin-top {
		margin-top: 0;
	}
	
	.tablet-no-margin-right {
		margin-right: 0;
	}
	
	.tablet-no-margin-bottom {
		margin-bottom: 0;
	}
	
	.tablet-no-margin-left {
		margin-left: 0;
	}
	
	.tablet-no-gutter {
		margin: @gutter * -1;
	}
	
	.tablet-no-gutter-top {
		margin-top: @gutter * -1;
	}
	
	.tablet-no-gutter-right {
		margin-right: @gutter * -1;
	}
	
	.tablet-no-gutter-bottom {
		margin-bottom: @gutter * -1;
	}
	
	.tablet-no-gutter-left {
		margin-left: @gutter * -1;
	}
	
	/* @end */
	
	/* @group body styles */
	
	body {
		font-size: 14px;
	}
	
	/* @end */
	
}
/* @end */




/* @group mobile */
@media screen and (max-width: 760px){
	
	/* @group grid */
	
	.row {
		width: 320px;
		padding: @gutter * 1.5 @gutter / 2;
	}
	
	.mobile-hide {
		display: none !important;
	}
	
	.mobile-display {
		display: -moz-inline-stack !important;
		display: inline-block !important;
		zoom: 1 !important;
		*display: inline !important;
	}
	
	.mobile-display-block {
		display: block !important;
	}
	
	.mobile-col-1 {
		width: 100 / @columns * 1% !important;
	}
	
	.mobile-col-2 {
		width: 100 / @columns * 2% !important;
	}
	
	.mobile-col-3 {
		width: 100 / @columns * 3% !important;
	}
	
	.mobile-col-4 {
		width: 100 / @columns * 4% !important;
	}
	
	.mobile-col-5 {
		width: 100 / @columns * 5% !important;
	}
	
	.mobile-col-6 {
		width: 100 / @columns * 6% !important;
	}
	
	.mobile-col-7 {
		width: 100 / @columns * 7% !important;
	}
	
	.mobile-col-8 {
		width: 100 / @columns * 8% !important;
	}
	
	.mobile-col-9 {
		width: 100 / @columns * 9% !important;
	}
	
	.mobile-col-10 {
		width: 100 / @columns * 10% !important;
	}
	
	.mobile-padding {
		padding: @gutter;
	}
	
	.mobile-padding-top {
		padding-top: @gutter;
	}
	
	.mobile-padding-right {
		padding-right: @gutter;
	}
	
	.mobile-padding-bottom {
		padding-bottom: @gutter;
	}
	
	.mobile-padding-left {
		padding-left: @gutter;
	}
	
	.mobile-no-padding {
		padding: 0;
	}
	
	.mobile-no-padding-top {
		padding-top: 0;
	}
	
	.mobile-no-padding-right {
		padding-right: 0;
	}
	
	.mobile-no-padding-bottom {
		padding-bottom: 0;
	}
	
	.mobile-no-padding-left {
		padding-left: 0;
	}
	
	.mobile-margin {
		margin: @gutter;
	}
	
	.mobile-margin-top {
		margin-top: @gutter;
	}
	
	.mobile-margin-right {
		margin-right: @gutter;
	}
	
	.mobile-margin-bottom {
		margin-bottom: @gutter;
	}
	
	.mobile-margin-left {
		margin-left: @gutter;
	}
	
	.mobile-no-margin {
		margin: 0;
	}
	
	.mobile-no-margin-top {
		margin-top: 0;
	}
	
	.mobile-no-margin-right {
		margin-right: 0;
	}
	
	.mobile-no-margin-bottom {
		margin-bottom: 0;
	}
	
	.mobile-no-margin-left {
		margin-left: 0;
	}
	
	.mobile-no-gutter {
		margin: @gutter * -1;
	}
	
	.mobile-no-gutter-top {
		margin-top: @gutter * -1;
	}
	
	.mobile-no-gutter-right {
		margin-right: @gutter * -1;
	}
	
	.mobile-no-gutter-bottom {
		margin-bottom: @gutter * -1;
	}
	
	.mobile-no-gutter-left {
		margin-left: @gutter * -1;
	}
	
	/* @end */
	
	/* @group text formatting */
	
	h1 {
		font-size: 1.7em;
		line-height: 1.1;
	}
	
	.list {
		max-width: 16em;
		
		li {
			background-position: left 0.1em;
			background-size: 1em;
		}
	}
	
	/* @end */
	
	/* @group body styles */
	
	body {
		font-size: 12px;
	}
	
	/* @end */
	
	/* @group blocks */
	
	.block {
		.icon {
			width: 7em;
			height: 7em;
			margin: @gutter / 2 auto;
		}
	}
	
	/* @end */
	
	/* @group prototyping */
	
	#prototyping {
		.item {
			width: 2.5em;
			
			&.bar-chart {
				left: 12%;
			}
			
			&.speedo {
				bottom: 20%;
				left: 19%;
			}
			
			&.vial {
				bottom: 12%;
				right: 28%;
			}
		}
	}
	
	/* @end */
	
}
/* @end */




img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}